<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>POWER CONSUMPTION</title>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->


<!--</head>-->
<!--<body>-->
<!--    <script src ="static/script.js"></script>-->

<!--    <h1>Power consumption</h1>-->
<!--    <canvas id="chart" width="400" height="200"></canvas>-->
<!--    <br>-->
<!--    <label for="switch1">Switch 1:</label>-->
<!--    <input type="checkbox" id="switch1" onchange="sendToggleState()">-->
<!--    <br>-->
<!--    <label for="switch2">Switch 2:</label>-->
<!--    <input type="checkbox" id="switch2" onchange="sendToggleState()">-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Chart with Toggles</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">

</head>
<body>
    <script src="/static/script.js"></script>
    <h1>Dynamic Chart</h1>
    <canvas id="chart" width="400" height="200"></canvas>
    <div class="toggle-container">
        <div class="switch-wrapper">
            <label class="switch">
                <span class="switch-label">Switch 1</span>
                <input class="chk" type="checkbox" id="switch1" onchange="sendToggleState()">
                <span class="slider"></span>
            </label>
        </div>
        <div class="switch-wrapper">
            <label class="switch">
                <span class="switch-label">Switch 2</span>
                <input class="chk" type="checkbox" id="switch2" onchange="sendToggleState()">
                <span class="slider"></span>
            </label>
        </div>
    </div>

    <div class="count-box">
    <div class="container">
        <span>Count of Movements:</span>
        <h2 id="counting"></h2>
    </div>
    </div>
</body>
</html>
